@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
}

html {
  scroll-behavior: smooth;
}
.font-poppins,
label {
  font-family: "Poppins", sans-serif !important;
}

.font-figtree {
  font-family: "Figtree", sans-serif !important;
}
.hero-section {
  background-size: cover;
  display: flex;
  background-position: 70%;
  background-repeat: no-repeat;
  display: flex !important;
}
:where(.css-dev-only-do-not-override-98ntnt).ant-btn-default:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  border-color: #9eb567 !important;
  background-color: white !important;
  color: #9eb567 !important ;
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

.ant-select-selection-item {
  font-size: 14px !important;
}
.bg-primary {
  background-color: #9eb567 !important;
}

.border-lightgray {
  border: 1px solid #e1e1e1;
}
